/*body {
  padding: 5px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {

  color: #00B7FF;
}

header {
    background: #eeeeee;
    padding: 5px;
}*/

.margin001{
    margin-left: 22px;
    
}


.margin002{
    margin-left: 5px;
}

.margin003{
    margin-bottom: 10px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

body{
    padding: 5px;
}

header {
    padding: 5px;
}

.mainpage{
    color: white;
    font-size: 20px;
}


.addnoteOne{
    text-align:left;
    padding: 7px 30px;
    margin-left: 4%;
}

.logoutOne{

    margin-left: 4%;
    
}


.href001{
    display: inline-block;

}


@media screen and (min-width: 800px) {


   
   .signupOne{
       margin: 0 0 0 -70%;
   }

   

}

@media screen and (max-width: 800px) {

    .addnoteOne {
        margin-right: 70%;
        margin-top: 4%;
    }

}
@media screen and (max-width: 600px) {


    .addnoteOne {
        margin-right: 50%;
        width: 200px;
    }

    .logoutOne {
        width: 200px;
    }

}

    @media screen and (max-width: 500px) {

        .addnoteOne {
            margin-right: 50%;
            width: 200px;
        }

        .logoutOne {
            width: 200px;
        }
    }



    @media screen and (max-width: 400px) {

        .addnoteOne {
            margin-right: 60px;
            padding-right: 30px;
            padding-left: 30px;
            width: 250px;
        }

        .logoutOne {
            padding-right: 30px;
            padding-left: 30px;
            width: 250px;
        }
    }